DATAGRAM frames should be PTO eliciting

We found an issue when sending DATAGRAM frames that if the packet is lost and no other application data is sent over said connection, the packet containing the DATAGRAM frame is never ACKed. QUIC has a PTO to recover from loss of tail packets, but it seems that ngtcp2 does not probe the receiver because DATAGRAM frames, while ACK eliciting, are not PTO eliciting (see [`conn_write_pkt`](https://github.com/ngtcp2/ngtcp2/blob/e4d920c4b7a350d63b6978c68b216b76faa12635/lib/ngtcp2_conn.c#L4147)).

We checked the QUIC RFC, and there seems to be no distinction between ACK-eliciting and PTO-eliciting packets (any ACK-eliciting packet should compute a new PTO), and the DATAGRAM extension seems to also point to the fact that the sender should probe the receiver for lost DATAGRAM frames (but not retransmit them).

As such, we think the `NGTCP2_RTB_ENTRY_FLAG_PTO_ELICITING` flag should be added when writing DATAGRAM frames. Let me know if you have a different understanding of the RFCs :)

----------------------------

> A Probe Timeout (PTO) triggers the sending of one or two probe datagrams when ack-eliciting packets are not acknowledged within the expected period of time or the server may not have validated the client's address.

Ref. [RFC 9002 §6.2](https://www.rfc-editor.org/rfc/rfc9002.html#section-6.2)

> When an ack-eliciting packet is transmitted, the sender schedules a timer for the PTO period as follows:
> `PTO = smoothed_rtt + max(4*rttvar, kGranularity) + max_ack_delay`

Ref. [RFC 9002 §6.2.1](https://www.rfc-editor.org/rfc/rfc9002.html#section-6.2.1)

> Although DATAGRAM frames are not retransmitted upon loss detection, they are ack->eliciting.
>
> [...]
>
> As with any ack-eliciting frame, when a sender suspects that a packet containing only DATAGRAM frames has been lost, it sends probe packets to elicit a faster acknowledgement [...].

Ref. [RFC 9221 §5.2](https://www.rfc-editor.org/rfc/rfc9221.html#section-5.2)


Yeah, it looks like I should.  Will make a PR.