conn_verify_dcid does not handle zero-length DCIDs per RFC 9000 §5.2

Per RFC 9000 Section 5.2:

> If the Destination Connection ID is zero length and the addressing information in the packet matches the addressing information the endpoint uses to identify a connection with a zero-length connection ID, QUIC processes the packet as part of that connection.

Currently, conn_verify_dcid() performs a strict match against the internal SCID set:
https://github.com/ngtcp2/ngtcp2/blob/9a9439c7d4d488e2c0176f8f96826d0465dfed31/lib/ngtcp2_conn.c#L1869-L1903

This check doesn't appear to account for the valid case of a zero-length Destination Connection ID with a matching address-based context.



ngtcp2 works with zero cid just fine.  If zero cid is used, application should route a packet to correct ngtcp2_conn.

wouldn't 

```
   it = ngtcp2_ksl_lower_bound(&conn->scid.set, &hd->dcid); 
   if (ngtcp2_ksl_it_end(&it)) { 
     return NGTCP2_ERR_INVALID_ARGUMENT; 
   } 
```

in `conn_verify_dcid` , which is called on pkt receive path, reject packet with empty `dcid` ?

@redbaron Have you actually seen that ngtcp2 did not work with zero length dcid instead of just skimming source code and guess something?